/* Write your CSS here */
.app {
  min-height: 100vh;
  max-height: 250vh;
  background-color: rgba(54, 51, 51, 0.897);
  padding: 30px;
  padding-left: 40px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: rgb(94, 184, 154);
}

.logo-container {
  display: flex;
}
.website-logo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-top: 20px;
}
.cowin-heading {
  color: skyblue;
}
.failure-image {
  height: 800px;
  width: 80%;
}
